Repository nanahq/hydra, pull requests merged in 2024-11, with the labels that each got.

#503 Staging
  apps/api-gateway/src/module.api/listing.controller.ts
  apps/api-gateway/src/module.api/order.controller.ts
  apps/drivers-service/src/ODSA/odsa.controller.ts
  apps/drivers-service/src/ODSA/odsa.service.ts
  apps/drivers-service/src/ODSA/taco.service.ts
  apps/drivers-service/src/app.module.ts
  apps/drivers-service/src/auth.service.ts
  apps/drivers-service/src/drivers-service.controller.ts
  apps/drivers-service/src/main.ts
  apps/drivers-service/src/websockets/events.gateway.ts
  apps/drivers-service/src/websockets/events.service.ts
  apps/listings-service/src/listings.controller.ts
  apps/listings-service/src/listings.service.ts
  apps/location-service/src/location-service.controller.ts
  apps/location-service/src/location-service.service.ts
  apps/orders-service/src/main.ts
  apps/orders-service/src/orders-service.controller.ts
  apps/orders-service/src/orders-service.service.ts
  apps/payment-service/src/charge/charge.controller.ts
  apps/payment-service/src/charge/charge.service.ts
  apps/vendors-service/src/vendors.controller.ts
  apps/vendors-service/src/vendors.service.ts
  libs/common/src/constants/delivery.ts
  libs/common/src/database/dto/user/address.book.dto.ts
  libs/common/src/database/schemas/address.book.schema.ts
  libs/common/src/database/schemas/delivery.schema.ts
  libs/common/src/database/schemas/driver.schema.ts
  libs/common/src/typings/QUEUE_MESSAGE.ts
  libs/common/src/utils/calculateDeliveryPrice.ts
  package.json
  packages/sticky/libs/common/src/schemas/index.ts
  packages/sticky/package.json
  scripts/app/start_hydra.sh
  yarn.lock
Labels: needs/kind, area/api-gateway, area/payment-service, area/location-service, area/drivers-service, area/orders-service, area/vendors-service

#505 feature(drivers-service): fleets organization and members wip
  .eslintrc
  apps/drivers-service/src/ODSA/odsa.service.ts
  apps/drivers-service/src/app.module.ts
  apps/drivers-service/src/drivers-service.controller.ts
  apps/drivers-service/src/drivers-service.service.ts
  apps/drivers-service/src/fleets-member.repository.ts
  apps/drivers-service/src/fleets-organization.repository.ts
  libs/common/src/database/schemas/fleet-member.schema.ts
  libs/common/src/database/schemas/fleet-organization.schema.ts
  libs/common/src/dto/fleet.dto.ts
  libs/common/src/index.ts
Labels: kind/feature, area/drivers-service

#506 Staging
  apps/drivers-service/src/ODSA/odsa.service.ts
  apps/drivers-service/src/app.module.ts
  apps/drivers-service/src/drivers-service.controller.ts
  apps/drivers-service/src/drivers-service.service.ts
  apps/drivers-service/src/fleets-member.repository.ts
  apps/drivers-service/src/fleets-organization.repository.ts
  libs/common/src/database/schemas/fleet-member.schema.ts
  libs/common/src/database/schemas/fleet-organization.schema.ts
  libs/common/src/dto/fleet.dto.ts
  libs/common/src/index.ts
Labels: needs/kind, area/api-gateway, area/payment-service, area/location-service, area/drivers-service, area/orders-service, area/vendors-service

#507 Siradji/fleet organization
  apps/drivers-service/src/ODSA/odsa.service.ts
  apps/drivers-service/src/app.module.ts
  apps/drivers-service/src/auth.controller.ts
  apps/drivers-service/src/auth.service.ts
  apps/drivers-service/src/auth/guards/jwt.guard.ts
  apps/drivers-service/src/auth/guards/local.guard.ts
  apps/drivers-service/src/auth/strategy/jwt.strategy.ts
  apps/drivers-service/src/auth/strategy/local.strategy.ts
  apps/drivers-service/src/drivers-service.controller.ts
  apps/drivers-service/src/drivers-service.service.ts
  apps/drivers-service/src/fleet/decorators/ownership.ts
  apps/drivers-service/src/fleet/fleet.controller.ts
  apps/drivers-service/src/fleet/fleet.service.ts
  apps/drivers-service/src/fleet/fleets-member.repository.ts
  apps/drivers-service/src/fleet/fleets-organization.repository.ts
  libs/common/src/database/schemas/fleet-member.schema.ts
  libs/common/src/dto/fleet.dto.ts
Labels: needs/kind, area/drivers-service

#509 chore(packages): schemas/dtos + sticky update
  apps/drivers-service/src/fleet/fleet.service.ts
  libs/common/src/database/schemas/driver.schema.ts
  libs/common/src/dto/fleet.dto.ts
  libs/common/src/dto/registerDriver.dto.ts
  packages/sticky/libs/common/src/dto/index.ts
  packages/sticky/libs/common/src/schemas/index.ts
  packages/sticky/package.json
Labels: area/drivers-service, kind/packages

#511 feature(drivers-service): fleet owners creating approved drivers
  apps/drivers-service/src/app.module.ts
  apps/drivers-service/src/drivers-service.controller.ts
  apps/drivers-service/src/fleet/fleet.controller.ts
  apps/drivers-service/src/fleet/fleet.service.ts
Labels: kind/feature, area/drivers-service

#512 feature(drivers-service): update schemas with payment info
  apps/drivers-service/src/fleet/fleet.service.ts
  libs/common/src/database/schemas/fleet-organization.schema.ts
  packages/sticky/libs/common/src/schemas/index.ts
Labels: kind/feature, area/drivers-service

#513 feature(drivers-service): fleet owner can update organization info
  apps/drivers-service/src/fleet/fleet.controller.ts
  apps/drivers-service/src/fleet/fleet.service.ts
Labels: kind/feature, area/drivers-service

#514 feature(drivers-service): fleet owner can update organization logo
  apps/drivers-service/src/app.module.ts
  apps/drivers-service/src/fleet/fleet.controller.ts
  apps/drivers-service/src/fleet/fleet.service.ts
Labels: kind/feature, area/drivers-service

#515 feature(drivers-service): fleet members can update their profile
  apps/drivers-service/src/fleet/fleet.controller.ts
  apps/drivers-service/src/fleet/fleet.service.ts
  libs/common/src/dto/fleet.dto.ts
  packages/sticky/libs/common/src/dto/index.ts
Labels: kind/feature, area/drivers-service

#516 feature(drivers-service): member can get all organization members and…
  apps/drivers-service/src/fleet/fleet.controller.ts
  apps/drivers-service/src/fleet/fleet.service.ts
Labels: kind/feature, area/drivers-service

#517 feature(drivers-service): members can fetch deliveries
  apps/drivers-service/src/fleet/decorators/ownership.ts
  apps/drivers-service/src/fleet/fleet.controller.ts
  apps/drivers-service/src/fleet/fleet.service.ts
Labels: kind/feature, area/drivers-service

#518 chore(packages): bump sticky version 0.4.2 -> 0.4.3
  packages/sticky/package.json
Labels: kind/packages

#519 feature(drivers-service): assign fleet driver
  apps/drivers-service/src/ODSA/odsa.service.ts
  apps/drivers-service/src/drivers-service.controller.ts
  apps/drivers-service/src/fleet/fleet.controller.ts
  apps/drivers-service/src/fleet/fleet.service.ts
Labels: kind/feature, area/drivers-service
