Repository nanahq/hydra, pull requests merged in 2024-12, with the labels that each got.

#520 fix(drivers-service): fix email omission with spread operator
  apps/drivers-service/src/fleet/fleet.service.ts
Labels: kind/fix, area/drivers-service

#521 feature(drivers-service): member can get driver stats
  apps/drivers-service/src/fleet/fleet.controller.ts
  apps/drivers-service/src/fleet/fleet.service.ts
Labels: kind/feature, area/drivers-service

#524 fix(location-service): update DELIVERY_META with new values
  libs/common/src/constants/delivery.ts
Labels: kind/fix

#525 feature(users-service): address pin feature + tests fix
  apps/users-service/src/test/stubs/user.stub.ts
  apps/users-service/src/users-service.service.ts
  libs/common/src/database/schemas/users.schema.ts
Labels: kind/feature, area/users-service

#526 feature(users-service): get user address by pin + shareable name
  apps/api-gateway/src/module.api/address-book.controller.ts
  apps/users-service/src/address-book-service.controller.ts
  apps/users-service/src/address-book-service.service.ts
  libs/common/src/database/dto/user/address.book.dto.ts
  libs/common/src/database/schemas/address.book.schema.ts
  libs/common/src/typings/Global.Interface.ts
  libs/common/src/typings/QUEUE_MESSAGE.ts
  packages/sticky/libs/common/src/dto/index.ts
  packages/sticky/libs/common/src/typings/index.ts
Labels: kind/feature, area/api-gateway, area/users-service

#523 Staging
  apps/api-gateway/src/module.api/address-book.controller.ts
  apps/drivers-service/src/ODSA/odsa.service.ts
  apps/drivers-service/src/app.module.ts
  apps/drivers-service/src/drivers-service.controller.ts
  apps/drivers-service/src/drivers-service.service.ts
  apps/drivers-service/src/fleet/decorators/ownership.ts
  apps/drivers-service/src/fleet/fleet.controller.ts
  apps/drivers-service/src/fleet/fleet.service.ts
  apps/location-service/src/location-service.controller.ts
  apps/location-service/src/location-service.service.ts
  apps/users-service/src/address-book-service.controller.ts
  apps/users-service/src/address-book-service.service.ts
  apps/users-service/src/test/stubs/user.stub.ts
  apps/users-service/src/users-service.service.ts
  libs/common/src/constants/delivery.ts
  libs/common/src/database/dto/user/address.book.dto.ts
  libs/common/src/database/schemas/address.book.schema.ts
  libs/common/src/database/schemas/delivery.schema.ts
  libs/common/src/database/schemas/driver.schema.ts
  libs/common/src/database/schemas/fleet-organization.schema.ts
  libs/common/src/database/schemas/users.schema.ts
  libs/common/src/dto/fleet.dto.ts
  libs/common/src/dto/registerDriver.dto.ts
  libs/common/src/typings/Global.Interface.ts
  libs/common/src/typings/QUEUE_MESSAGE.ts
  libs/common/src/typings/SOCKET_MESSAGE.ts
  libs/common/src/utils/calculateDeliveryPrice.ts
  packages/sticky/libs/common/src/dto/index.ts
  packages/sticky/libs/common/src/schemas/index.ts
  packages/sticky/libs/common/src/typings/index.ts
  packages/sticky/package.json
Labels: needs/kind, area/api-gateway, area/users-service, area/location-service, area/drivers-service

#528 chore(packages): bump sticky version 0.4.5 -> 0.4..6
  packages/sticky/libs/common/src/dto/index.ts
  packages/sticky/libs/common/src/typings/index.ts
  packages/sticky/package.json
Labels: kind/packages

#529 feature(users-service): refactor address pin feature
  apps/users-service/src/address-book-service.service.ts
  apps/users-service/src/test/stubs/user.stub.ts
  apps/users-service/src/users-service.service.ts
  libs/common/src/database/schemas/address.book.schema.ts
  libs/common/src/database/schemas/users.schema.ts
  libs/common/src/database/types/common.ts
  libs/common/src/typings/Global.Interface.ts
  packages/sticky/libs/common/src/schemas/index.ts
Labels: kind/feature, area/users-service

#532 feature(drivers-service): create fleet driver earnings + type update
  apps/drivers-service/src/fleet/fleet.controller.ts
  apps/drivers-service/src/fleet/fleet.service.ts
  apps/orders-service/src/test/stub/orders.stub.ts
  apps/payment-service/src/fleets-payout/fleets-payout.controller.ts
  apps/payment-service/src/fleets-payout/fleets-payout.respository.ts
  apps/payment-service/src/fleets-payout/fleets-payout.service.ts
  apps/payment-service/src/payment.module.ts
  libs/common/src/database/schemas/fleet-payout.schema.ts
  libs/common/src/database/schemas/order.schema.ts
  libs/common/src/database/types/common.ts
  libs/common/src/dto/PlaceOrder.dto.ts
  libs/common/src/index.ts
  libs/common/src/typings/Global.Interface.ts
  libs/common/src/typings/QUEUE_MESSAGE.ts
  packages/sticky/libs/common/src/schemas/index.ts
Labels: kind/feature, area/payment-service, area/drivers-service, area/orders-service

#533 fix(drrivers-service): array condition + driver dto + org conflicts
  .eslintrc
  apps/drivers-service/src/fleet/fleet.controller.ts
  apps/drivers-service/src/fleet/fleet.service.ts
  libs/common/src/dto/registerDriver.dto.ts
  libs/common/src/typings/Global.Interface.ts
  packages/sticky/libs/common/src/dto/index.ts
  packages/sticky/libs/common/src/schemas/index.ts
  packages/sticky/libs/common/src/typings/index.ts
Labels: kind/fix, area/drivers-service

#534 chore(packages): bump sticky version form 0.4.8 -> 0.4.9
  packages/sticky/libs/common/src/schemas/index.ts
  packages/sticky/package.json
Labels: kind/packages
