Repository nanahq/hydra, pull requests merged in 2024-09, with the labels that each got.

#483 feature(api-gateway, vendor-gateway, driver-gateway): root check for …
  apps/admin-gateway/src/module.api/drivers.controller.ts
  apps/api-gateway/src/module.api/address-book.controller.ts
  apps/api-gateway/src/module.api/auth.controller.ts
  apps/api-gateway/src/module.api/coupon.controller.ts
  apps/api-gateway/src/module.api/deliveries.controller.ts
  apps/api-gateway/src/module.api/general.controller.ts
  apps/api-gateway/src/module.api/listing.controller.ts
  apps/api-gateway/src/module.api/location.controller.ts
  apps/api-gateway/src/module.api/order.controller.ts
  apps/api-gateway/src/module.api/payment.controller.ts
  apps/api-gateway/src/module.api/review.controller.ts
  apps/api-gateway/src/module.api/users.controller.ts
  apps/api-gateway/src/module.api/vendors.controller.ts
  apps/api-gateway/src/module.api/webapp.controller.ts
  apps/drivers-service/src/auth.controller.ts
  apps/drivers-service/src/drivers-service.controller.ts
  apps/vendor-gateway/src/module.api/auth.controller.ts
  apps/vendor-gateway/src/module.api/drivers.controller.ts
  apps/vendor-gateway/src/module.api/listings.controller.ts
  apps/vendor-gateway/src/module.api/orders.controller.ts
  apps/vendor-gateway/src/module.api/review.controller.ts
  apps/vendor-gateway/src/module.api/vendor.controller.ts
  apps/vendor-gateway/src/module.api/wallet.controller.ts
Labels: kind/feature, area/api-gateway, area/vendor-gateway, area/drivers-service, area/admin-gateway

#484 chore(listings-service): Update listing category schema with nextDayDelivery field
  libs/common/src/database/dto/listing.dto.ts
  libs/common/src/database/schemas/listings.cat.ts
  libs/common/src/database/types/common.ts
Labels: kind/chore

#486 chore(release): bump sticky version 0.3.5 -> 0.3.6
  packages/sticky/package.json
Labels: kind/chore

#487 fix(*nana services and api-gateways): switched from PING from route c…
  apps/admin-gateway/src/module.api/admin.controller.ts
  apps/admin-service/src/admin-service.controller.ts
  apps/admin-service/src/admin-service.service.ts
  apps/api-gateway/src/module.api/address-book.controller.ts
  apps/api-gateway/src/module.api/auth.controller.ts
  apps/api-gateway/src/module.api/coupon.controller.ts
  apps/api-gateway/src/module.api/deliveries.controller.ts
  apps/api-gateway/src/module.api/general.controller.ts
  apps/api-gateway/src/module.api/listing.controller.ts
  apps/api-gateway/src/module.api/location.controller.ts
  apps/api-gateway/src/module.api/order.controller.ts
  apps/api-gateway/src/module.api/payment.controller.ts
  apps/api-gateway/src/module.api/review.controller.ts
  apps/api-gateway/src/module.api/users.controller.ts
  apps/api-gateway/src/module.api/vendors.controller.ts
  apps/api-gateway/src/module.api/webapp.controller.ts
  apps/drivers-service/src/auth.controller.ts
  apps/drivers-service/src/drivers-service.controller.ts
  apps/drivers-service/src/drivers-service.service.ts
  apps/listings-service/src/listings.controller.ts
  apps/listings-service/src/listings.service.ts
  apps/location-service/src/location-service.controller.ts
  apps/location-service/src/location-service.service.ts
  apps/notification-service/src/notification-service.controller.ts
  apps/notification-service/src/notification-service.service.ts
  apps/orders-service/src/orders-service.controller.ts
  apps/orders-service/src/orders-service.service.ts
  apps/payment-service/src/wallet/driver/wallet.controller.ts
  apps/payment-service/src/wallet/driver/wallet.service.ts
  apps/reviews-service/src/reviews-service.controller.ts
  apps/reviews-service/src/reviews-service.service.ts
  apps/users-service/src/users-service.controller.ts
  apps/users-service/src/users-service.service.ts
  apps/vendor-gateway/src/module.api/auth.controller.ts
  apps/vendor-gateway/src/module.api/drivers.controller.ts
  apps/vendor-gateway/src/module.api/listings.controller.ts
  apps/vendor-gateway/src/module.api/orders.controller.ts
  apps/vendor-gateway/src/module.api/review.controller.ts
  apps/vendor-gateway/src/module.api/vendor.controller.ts
  apps/vendor-gateway/src/module.api/wallet.controller.ts
  apps/vendors-service/src/vendors.controller.ts
  apps/vendors-service/src/vendors.service.ts
  libs/common/src/typings/QUEUE_MESSAGE.ts
Labels: kind/fix, area/api-gateway, area/users-service, area/reviews-service, area/admin-service, area/vendor-gateway, area/payment-service, area/location-service, area/drivers-service, area/orders-service, area/admin-gateway, area/vendors-service, area/notification-service

#488 merge staging into main
  apps/listings-service/src/test/stubs/Listings.stub.ts
  libs/common/src/database/dto/listing.dto.ts
  libs/common/src/database/schemas/listings.cat.ts
  libs/common/src/database/types/common.ts
  packages/sticky/package.json
Labels: kind/chore
