Repository nanahq/hydra, pull requests merged in 2024-04, with the labels that each got.

#372 feature(admin): admin users reset password endpoint in admin gateway
  apps/admin-gateway/src/module.api/admin.controller.ts
  apps/admin-service/src/admin-service.controller.ts
  apps/admin-service/src/admin-service.service.ts
  libs/common/src/typings/QUEUE_MESSAGE.ts
Labels: kind/feature, area/admin-service, area/admin-gateway

#381 feature(admin): create logic to compute dashboard metrics
  apps/admin-gateway/src/module.api/dashboard.controller.ts
  apps/listings-service/src/listings.controller.ts
  apps/listings-service/src/listings.service.ts
  apps/orders-service/src/orders-service.controller.ts
  apps/orders-service/src/orders-service.service.ts
  apps/payment-service/src/payout/payout.controller.ts
  apps/payment-service/src/payout/payout.service.ts
  apps/users-service/src/users-service.controller.ts
  apps/users-service/src/users-service.service.ts
  apps/vendors-service/src/vendors.controller.ts
  apps/vendors-service/src/vendors.service.ts
  libs/common/src/typings/Global.Interface.ts
  libs/common/src/typings/QUEUE_MESSAGE.ts
Labels: kind/feature, area/users-service, area/payment-service, area/orders-service, area/admin-gateway, area/vendors-service

#388 fix(admin): fix queue message to get a single user by id
  apps/users-service/src/users-service.controller.ts
Labels: kind/fix, area/users-service

#394 feature(app): shell script to run project without docker
  apps/admin-gateway/.env.example
  apps/admin-service/.env.example
  apps/api-gateway/.env.example
  apps/drivers-service/.env.example
  apps/listings-service/.env.example
  apps/location-service/.env.example
  apps/notification-service/.env.example
  apps/orders-service/.env.example
  apps/reviews-service/.env.example
  apps/users-service/.env.example
  apps/users-service/src/users-service.service.ts
  apps/vendor-gateway/.env.example
  apps/vendors-service/.env.example
  scripts/app/start_hydra.sh
Labels: kind/feature, area/users-service

#393 feature(drivers): update the schema, dto and @nana/sticky with driver…
  libs/common/src/database/schemas/driver.schema.ts
  libs/common/src/dto/registerDriver.dto.ts
  packages/sticky/libs/common/src/schemas/index.ts
  packages/sticky/libs/common/src/typings/index.ts
Labels: kind/feature

#396 fix(drivers): create custom validator for nin validation
  libs/common/src/dto/registerDriver.dto.ts
Labels: kind/fix

#391 fix(admin): update http method to Get
  apps/admin-gateway/src/module.api/users.controller.ts
Labels: kind/fix, area/admin-gateway

#397 feature(admin): integrate all dashboard metrics with their resp. dtos…
  apps/admin-gateway/src/module.api/dashboard.controller.ts
  apps/listings-service/src/listings.service.ts
  apps/orders-service/src/orders-service.service.ts
  apps/payment-service/src/payout/payout.service.ts
  apps/users-service/src/users-service.service.ts
  apps/vendors-service/src/vendors.service.ts
  libs/common/src/database/types/common.ts
  libs/common/src/typings/Global.Interface.ts
  libs/common/src/utils/statsResultParser.ts
Labels: kind/feature, area/users-service, area/payment-service, area/orders-service, area/admin-gateway, area/vendors-service

#395 chore(packages): bump sticky version 0.3.1 -> 0.3.2
  packages/sticky/package.json
Labels: kind/packages

#399 fix(driver): fix driver stats NaN error
  apps/drivers-service/src/ODSA/odsa.service.ts
Labels: kind/fix, area/drivers-service
