Repository nanahq/hydra, pull requests merged in 2024-10, with the labels that each got.

#495 chore(users-service): uncomment users slack message
  apps/users-service/src/users-service.service.ts
Labels: kind/chore, area/users-service, area/payment-service

#498 fix(orders-service): fix cronjobs for orders and payments service
  apps/orders-service/src/main.ts
  apps/payment-service/src/main.ts
Labels: needs/kind, area/payment-service, area/orders-service

#499 chore(drivers-service): update driver's flag
  apps/drivers-service/src/ODSA/odsa.service.ts
  apps/drivers-service/src/drivers-service.service.ts
  apps/orders-service/src/main.ts
  apps/payment-service/src/main.ts
Labels: kind/chore, area/payment-service, area/drivers-service, area/orders-service

#494 chore(release): bump sticky version 0.3.8 -> 0.3.9
  packages/sticky/package.json
Labels: kind/chore

#502 feature: taco service
  apps/api-gateway/src/module.api/order.controller.ts
  apps/drivers-service/src/ODSA/odsa.controller.ts
  apps/drivers-service/src/ODSA/odsa.service.ts
  apps/drivers-service/src/ODSA/taco.service.ts
  apps/drivers-service/src/app.module.ts
  apps/drivers-service/src/auth.service.ts
  apps/drivers-service/src/drivers-service.controller.ts
  apps/drivers-service/src/main.ts
  apps/drivers-service/src/websockets/events.gateway.ts
  apps/drivers-service/src/websockets/events.service.ts
  apps/location-service/src/location-service.controller.ts
  apps/location-service/src/location-service.service.ts
  apps/orders-service/src/main.ts
  apps/orders-service/src/orders-service.controller.ts
  apps/orders-service/src/orders-service.service.ts
  apps/payment-service/src/charge/charge.controller.ts
  apps/payment-service/src/charge/charge.service.ts
  libs/common/src/constants/delivery.ts
  libs/common/src/database/schemas/delivery.schema.ts
  libs/common/src/database/schemas/driver.schema.ts
  libs/common/src/typings/QUEUE_MESSAGE.ts
  libs/common/src/utils/calculateDeliveryPrice.ts
  package.json
  scripts/app/start_hydra.sh
  yarn.lock
Labels: kind/feature, area/api-gateway, area/payment-service, area/location-service, area/drivers-service, area/orders-service
